@media (min-width:300px){

    *{
        margin: 0px;
        box-sizing: border-box;
    }
        
.principal {
    background: rgb(233, 182, 182);
    text-align: center;
    background-image: url('img/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px ;
    display: flex;
    flex-direction: column;
    width: 100%;    
}
.principal-detalles{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.principal-detalles img{
    width: 40%;
}

h1{
   font-size: 40px;   
}

.principal-button {
    width: 250px;
    height: 40px;
    background-color: white;
    border-radius: 24px;
    border-radius: none;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;  
}



h1 strong {
    color: rgb(255, 0, 43);
} 
    
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.header li{
    height: 100%;
    display: flex;
}
.header{
    background: rgb(250, 229, 229);
    color: black;
    display: flex;        
    justify-content: space-between;
    height: 90px;
    width: 100%;
    padding: 20px;
}      
.header a{
    color: rgb(180, 172, 96);
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
}  

.logo {
    width: 30%;
    display: flex;
    padding: 5px;
}


.logo img{
    height: 90%;
    align-items: center;
    justify-content: center;
} 

.menu{
    height: 100%;
    width: 30%;
    display: flex;
}
.somos {
    color: rgb(20, 24, 1);
    background: rgb(253, 204, 204);
    text-align: center;
    padding: 20px;
    font-size: 20px;
    width: 100%;
}

.somos h2{
    color: rgb(206, 117, 117);
    margin-bottom: 10px;
}

.somos p{
    margin-bottom: 20px;
}

.somosvideo{
    width: 85%;
    height: 100%;
}

.aplicar{
    height: 500px;
    background: white;
    display: flex;
    color: black;
    width: 100%;
    padding: 20px;
    flex-direction: column;
}

.aplicar-detalles{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.aplicar-detalles img{
    width: 50%;
}

.container1{
    display: flex;
    background: palevioletred;
    padding: 20px;
    justify-content: space-around;
    width: 100%;
}

.row1-contacto img{
    width: 35px;
    height: 25px;
}

.row3-redes img{
    width: 35px;
    height: 35px;
}

.row2-contacto img{
    width: 35px;
    height: 35px;
}


.col1-container1{
    width: 400px;
}

.col2-container1{
    width: 200px;
}

.col2-container1 a {
    color: white;
    text-decoration: none;
}

.col3-container1{
    width: 300px;
}

.container2{
    background: black;
}

        
    }

@media (min-width:700px) { 

    *{
        margin: 0px;
        box-sizing: border-box;
    }
    body {
        background-color: pink   ;
        color: white;
        font-family: 'Nunito', sans-serif;
    }
    .principal {
        background: rgb(233, 182, 182);
        text-align: center;
        background-image: url('img/fondo.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding: 100px ;
        display: flex;
        flex-direction: row;
        width: 100%;    
    }
    .principal-detalles{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    
    .principal-detalles img{
        width: 50%;
    }
    
    h1{
       font-size: 60px;   
    }
    
    .principal-button {
        width: 250px;
        height: 40px;
        background-color: white;
        border-radius: 24px;
        border-radius: none;
        font-size: 20px;
        cursor: pointer;
        margin-top: 20px;  
    }
    
    
    
    h1 strong {
        color: rgb(255, 0, 43);
    } 
        
    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        height: inherit;
        width: 100%;
        justify-content: space-around;
    }
    
    .header li{
        height: 100%;
        display: flex;
        
    }
    .header{
        background: rgb(250, 229, 229);
        color: black;
        display: flex;        
        justify-content: space-between;
        height: 90px;
        width: 100%;
        align-items: center;
    }      
    .header a{
        color: rgb(180, 172, 96);
        text-decoration: none;
        height: inherit;
        display: flex;
        align-items: center;
    }  
    
    .logo {
        width: 30%;
        display: flex;
        padding: 5px;
        height: inherit;
    }
    
    
    .logo img{
        height: 90%;
        align-items: center;
        justify-content: center;
    } 
    
    .menu{
        height: inherit;
        width: 30%;
        display: flex;
        align-items: center;
    }
    .somos {
        color: rgb(20, 24, 1);
        background: rgb(253, 204, 204);
        text-align: center;
        padding: 20px;
        width: 100%;
        font-size: 20px;
    }
    
    .somos h2{
        color: rgb(206, 117, 117);
        margin-bottom: 10px;
    }
    
    .somos p{
        margin-bottom: 20px;
    }

    .somosvideo {

        width: 35%;
    }
    
    .aplicar{
        height: 500px;
        background: white;
        display: flex;
        color: black;
        flex-direction: row;
    }
    
    .aplicar-detalles{
        width: 50%;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 30px;
        text-align: center;
    }
    
    .aplicar-detalles img{
        height:50% ;
    }
    
    .container1{
        display: flex;
        background: palevioletred;
        padding: 20px;
        justify-content: space-around;
    }
    
    .row1-contacto img{
        width: 35px;
        height: 25px;
    }
    
    .row3-redes img{
        width: 35px;
        height: 35px;
    }
    
    .row2-contacto img{
        width: 35px;
        height: 35px;
    }
    
    
    .col1-container1{
        width: 400px;
    }
    
    .col2-container1{
        width: 200px;
    }
    
    .col2-container1 a {
        color: white;
        text-decoration: none;
    }
    
    .col3-container1{
        width: 300px;
    }
    
    .container2{
        background: black;
    }

}





